<div class="container-fluid display-flex">
  <main>
    <hr class="extra-margins">
    <div class="row " *ngFor="let ad of saleAds">
      <!--First columnn-->
      <class class="col-lg-3">
        <!--Card-->
        <div class="card wow fadeIn" data-wow-delay="0.2s">

          <!--Card image-->
          <img class="img-fluid" src="../../../assets/marea.jpg"
            alt="Card image cap">

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
             <h4 class="card-title">{{ad.buyValue | currency : 'BRL'}}</h4>
            <!--Text-->
            <p class="card-text"><strong>Ano: </strong>{{ad.yearFabrication | date:"yyyy"}}</p>
             <p class="card-text"><strong>Cor: </strong> {{ad.color}}</p>
             <p class="card-text"><strong>Combustível: </strong> {{ad.fuelType}}</p>
            <a href="#" class="btn btn-info">Detalhes</a>
          </div>

        </div>
        <!--/.Card-->
      </class>
      <!--First columnn-->
    </div>
  <!--/.Main layout-->
</main>
</div>

